{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "sourceType": "module"
  },
  "rules": {
    "eol-last": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-console": [
      "off"
    ],
    // we automatically strip console.log from production code, and we want to keep console.warn and console.error
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    // only warn of unused args and vars
    "no-duplicate-imports": [
      "error"
    ],
    "no-nested-ternary": [
      "off"
    ],
    "no-var": [
      "error"
    ],
    "max-len": [
      "error",
      140
    ],
    "prettier/prettier": [
      "off"
    ],
    "space-infix-ops": [
      "error",
      {
        "int32Hint": true
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ]
  }
}
