# Overrides SSR lazy dependency loading. If not overridden (aka, if commented
# out below), it depends on build mode (buildEnv above): true in dev, false in
# prod.
#
# If false: all assets are loaded into the SSR engine as soon as it's
#  initialized (on the first SSR): nashornpolyfills, externals, vendors,
#  dependency chunks, react4xp-regions and entries, in that order.
#  Fixed engine warm-up time, no further warm-up after initialization.
#
# If true: only nashornpolyfills and externals assets are loaded on engine
#  initialization. Each entry and its dependency assets are loaded (and cached
#  for shared re-use across entries) only the first time that entry is rendered,
#  instead of loading everything on app startup. Here, initial engine warm-up
#  time is shorter than without lazy-loading, and depends on which entry is
#  rendered first but the next entry rendering might require some more asset
#  loading the first time THAT is rendered, etc.
#
# react4xp.ssr.lazyLoad = false


# Override the maximum SSR thread/engine count.
#
# Default value (if commented out): null, which means no limit on number of
# threads. If set as a number above 0, limits the number of SSR engines that are
# available for simultaneous server-side rendering.
#
# It's usually not necessary to set a limit on this, the java thread model will
# limit it to the amount of available cores (and maybe multiplied, depending on
# CPU hyperthreading etc).
# However, each SSR engine will load the assets it needs for rendering into
# memory, in its own independent nashorn engine and memory space.
# And for performance reasons, these engines will be re-used as much as
# possible, trying to avoid initializing new engines.
# In other words, the memory used will NOT be cleared and made available after a
# rendering, but the engines will keep already-loaded assets in memory. And in
# the long run, the result will probably be that every engine will keep every
# compiled react asset in memory.
# If this ever becomes a problem, the ssrMaxThreads can be used to set a limit
# on this.
#
# react4xp.ssr.maxThreads = 0


# Override SSR engine settings.
# Ref:
# https://github.com/openjdk/nashorn/blob/main/src/org.openjdk.nashorn/share/
# classes/org/openjdk/nashorn/internal/runtime/resources/Options.properties
#
# Default settings (if commented out) is:
#  1000
#  This corresponds to:
#  --persistent-code-cache, --class-cache-size=1000
# If only a number, changes the the number in --class-cache-size=<number> in the
# default setting above.
# If that number is set to 0 (or less), persistent code cache is switched off.
# Might affect performance positively or negatively, depending on your project.
# If a full string (more than just a number): completely overrides the default
# settings.
#  Interpreted as a comma-separated list of settings, same format as the default settings above, for example:
#  --persistent-code-cache, --class-cache-size=42, --lazy-compilation
#
# react4xp.ssr.settings = 1000


# If you are going to provide your own externals "bundle", for instance from cdn
# You can turn off the one provided by React4XP by setting
# react4xp.serveExternals to false
#
# The default externals bundle is still built and used for serverside rendering.
#
# Keep in mind you have to provide both react and react-dom in addition to extra
# externals you might have use for.
#
# react4xp.serveExternals = false
